{% extends "shop/base.html" %}
{% block title %}Listing{% endblock %}
{% block sidebar %}{% endblock %}


{% block content %}
<div class="container mt-5">
  <div class="card shadow p-4" style="border-radius: 1.5rem; max-width: 750px; margin: auto;">
    <h3 class="text-center mb-4">Listing</h3>

              <td>{{ listing.name }}</td>
              <td>{{ listing.quantity }}</td>
              <td>${{ listing.price }}</td>

      <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          Add to Cart
        </button>
      </form>

      <a href="{% url 'cart' %}" class="btn btn-outline-secondary mt-2">View Cart</a>
  </div>
</div>
{% endblock %}
