{% extends "shop/base.html" %}
{% block title %}Seller Dashboard{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h1>Welcome, {{ username|capfirst }}!</h1>
  <p class="text-muted">Manage your store and track your sales.</p>

  <div class="d-flex flex-column align-items-center w-50 mx-auto mt-4">
    <a href="{% url 'shop-sellermylistings' %}" class="btn btn-primary btn-lg btn-block my-2">My Listings</a>
    <a href="{% url 'shop-sellermyorders' %}" class="btn btn-outline-primary btn-lg btn-block my-2">My Orders</a>
    <a href="{% url 'shop-sellersales' %}" class="btn btn-outline-success btn-lg btn-block my-2">Sales Summary</a>
  </div>
</div>
{% endblock %}