{% extends "shop/base.html" %}
{% block title %}Create Listing{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Create Listing</h2>
  
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Create</button>
    </form>
  
    <a href="{% url 'shop-sellermylistings' %}" class="btn btn-primary btn-lg btn-block my-2">Back to Listings</a>
</div>
{% endblock %}
