{% extends "shop/base.html" %}
{% block title %}My Orders{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Incoming Orders</h2>

  <table class="table table-striped text-center shadow-sm">
    <thead class="thead-dark">
      <tr>
        <th>Order ID</th>
        <th>Buyer</th>
        <th>Items</th>
        <th>Address</th>
        <th>Actions</th>
        <th>Shipping Status</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.buyer }}</td>
        <td>
          {% for item in order.items %}
            {{ item.quantity }} x {{ item.name }} ({{ item.id }})
            <br>
          {% endfor %}
        </td>
        <td>{{ order.address }}</td>
        <td><a href="#" class="btn btn-sm btn-outline-success">Print Label</a></td>
        {% if order.is_shipped %}
          <td>Shipped</td>
        {% else %}
          <!-- this should lead to a view that changes the DB -->
            <td>
              <form action="{% url 'mark_as_shipped' order.id seller_id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-sm btn-outline-success" type="submit">Mark As Shipped</button>
              </form>
            </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
