{% extends "shop/base.html" %}
{% block title %}Sales Summary{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
  <h2 class="mb-4">Sales Summary</h2>
  <div class="card shadow p-4" style="max-width: 500px; margin: auto;">
    <p><strong>Total Orders:</strong> {{ sales_summary.total_orders }}</p>
    <p><strong>Total Revenue:</strong> ${{ sales_summary.total_revenue }}</p>
    <p><strong>Pending Shipments:</strong> {{ sales_summary.pending_shipments }}</p>
    <a href="{% url 'shop-cashout' %}" class="btn btn-outline-success btn-lg btn-block my-2">Cash out</a>
  </div>
</div>
{% endblock %}