{% extends "shop/base.html" %}
{% block title %}Buyer Home{% endblock %}
{% block body_class %}no-sidebar{% endblock %}



{% block sidebar %}{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center justify-content-center text-center" style="height: 75vh;">
  
  <h1 class="mb-5">Welcome, {{ username }}!</h1>

  <div class="d-flex flex-column align-items-center w-50">
    <a href="{% url 'shop-featuredlistings' %}" class="btn btn-primary btn-lg btn-block my-3 py-3">
      Featured Listings
    </a>
    <a href="{% url 'shop-alllistings' %}" class="btn btn-outline-primary btn-lg btn-block my-3 py-3">
      All Listings
    </a>
  </div>
</div>
{% endblock %}

